:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --link-color: #2563eb;
    --text-color: #333333;
    --background-color: #ffffff;
    --contact-color: #ffffff;
    --light-grey: #f0f0f0;
    --grey: #808080;
    --dark-grey: #555;
    --nav-dark-grey: #555;
    --study-grey: #555;
    --testi-light-grey: white;
}

.dark-mode {
    --primary-color: #8b8dfb;
    --accent-color: #6690ff;
    --link-color: #60a5fa;
    --text-color: white;
    --background-color: rgb(42, 42, 42);
    --contact-color: #ffffff;
    --light-grey: #333333;
    --grey: #ffffff;
    --nav-dark-grey: #f0f0f0;
    --study-grey: white;
    --testi-light-grey: #333333;
}

/* Extra small (default, <576px) */

@media (max-width: 575.98px) {
    #navBar {
        display: none;
    }
}

/* Small (<800px) */
@media (max-width: 799.98px) {
    .hamburger-button {
        background-color: transparent;
        display: block;

        &:active {
            border-color: var(--primary-color);
        }
    }

    .upper-mode-buttons {
        display: none;
    }

    /* --  -- */
    /* Main Section Start  */
    /* --  -- */

    #main-content {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .left-content {
        width: 100vw;
    }

    .right-content {
        width: 100vw;
    }

    .image-container {
        max-height: 60vh;
        max-width: 100vw;
    }

    /* --  -- */
    /* Main Section End  */
    /* --  -- */

    /* --  -- */
    /* Trusted Section Start  */
    /* --  -- */

    #trusted-content {
        width: 100vw;
    }

    .trusted-logos-resolution {
        height: 40px;
        width: 47px;
    }

    .trusted-logos-text {
        display: none;
    }

    /* --  -- */
    /* Trusted Section End  */
    /* --  -- */

    /* --  -- */
    /* Cards Section Start  */
    /* --  -- */

    .card {
        height: auto;
        width: 60vw;
        padding-bottom: 2.6rem;
    }

    #all-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card:hover .card-logo-background {
        animation: bounce 1s ease, spin-image 1s ease;
        transform-style: preserve-3d;
    }

    .card:hover .cards-logo {
        transition: none;
        height: 28px;
        width: 28px;
    }

    .card:hover .cards-heading {
        animation: none;
    }

    .card:hover .cards-heading {
        animation: bounce 1s ease;
        transition: all 0.7s;
        font-size: 1.6rem;
    }

    .card:hover .card-description {
        transition: none;
        padding-left: 0px;
    }
    .card-description {
        font-size: 1.2rem;
    }

    /* --  -- */
    /* Cards Section End  */
    /* --  -- */

    /* --  -- */
    /* Testimonial Section Start  */
    /* --  -- */

    #testimonial-content-outerDiv {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 1.5rem;
    }

    #testimonial-outer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonial-inner {
        width: 60vw;
        height: 50%;
    }

    /* --  -- */
    /* Testimonial Section End  */
    /* --  -- */

    /* --  -- */
    /* NewsLetter Section Start  */
    /* --  -- */

    #newsletter-outerDiv {
        height: 75vh;
    }

    #newsletter-content {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }

    #newsletter-leftbox {
        height: 50vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    #newsletter-image {
        object-fit: cover;
        width: 93vw;
        border-radius: 10px;
    }

    #newsletter-rightbox {
        height: 41vh;
        width: 100vw;
        position: relative;
        bottom: 2rem;
        text-align: center;
    }

    #newsletter-rightbox-outerDiv {
        gap: 1.5rem;
        padding: 1.2rem 1.2rem 0 1.24rem;
    }

    /* --  -- */
    /* NewsLetter Section End  */
    /* --  -- */

    /* --  -- */
    /* Footer Section Start  */
    /* --  -- */

    #footer-box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100vw;
    }

    #footer-leftbox-content {
        justify-content: center;
        align-items: center;
    }

    #footer-leftbox-study-sync-icon {
        position: relative;
        bottom: -2px;
    }

    #footer-leftbox-text {
        width: 50%;
        text-align: center;
    }

    #footer-leftbox-text-tags {
        font-size: 1.6rem;
        justify-content: center;
        text-align: center;
    }

    #footer-leftbox-social-logos-container {
        justify-content: center;
    }

    #footer_rightbox {
        flex-direction: column;
        gap: 1.7rem;
    }

    .footer_rightbox-content {
        text-align: center;
        gap: 1rem;
    }

    /* --  -- */
    /* Footer Section End  */
    /* --  -- */
}

/* Medium (<992px) */
@media (max-width: 991.98px) {
    /* --  --  */
    /* Header Section Start  */
    /* --  -- */

    #navbar {
        display: none;
    }

    #contact {
        display: none;
    }

    #login {
        background-color: var(--primary-color);
        color: white;
        /* padding: 0.9rem 0.1rem; */
    }

    #signup {
        border: 2px solid var(--primary-color);
        /* padding: 0.9rem 0.1rem; */
    }

    /* --  -- */
    /* Header Section End  */
    /* --  -- */

    /* --  -- */
    /* Dark Mode & Hamburger Section Start  */
    /* --  -- */

    #line-for-dark-mode-and-burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--light-grey);
        height: 3rem;
        width: 100vw;
        margin-bottom: 1rem;
    }

    .hamburger-button {
        border-color: var(--primary-color);
        background-color: var(--dark-grey);
        display: block;

        &:active {
            background-color: var(--primary-color);
        }
    }

    .upper-mode-buttons {
        display: none;
    }

    .lower-mode-buttons .upper-mode-buttons {
        height: 60%;
        display: flex;
        gap: 1rem;
    }

    .lower-modes-buttons {
        height: 35px;
        width: 35px;
    }

    .theme-switch {
        background-color: var(--text-color);
        border-radius: 50%;
    }

    /* --  -- */
    /* Dark Mode & Hamburger Section End  */
    /* --  -- */

    #outer-footer {
        height: auto;
        width: auto;
    }

    #newsletter-outerDiv {
        height: auto;
    }
}

@media (min-width: 991.98px) {
    .lower-mode-buttons {
        display: none;
    }
}

@media (min-width: 991.98px) and (max-width: 1099.98px) {
    #navbar {
        display: flex;
        gap: 0.7rem;
    }
}

/* Large (<1200px) */
@media (max-width: 1199.98px) {
    /* --  -- */
    /* Header Section Start  */
    /* --  -- */

    .navbar {
        display: flex;
        gap: 1rem;
    }

    .navBar-buttons {
        padding: 8px;
    }

    /* --  -- */
    /* Header Section End  */
    /* --  -- */

    .buttons-group {
        padding: 0;
        margin-bottom: 2.3rem;
    }

    .theme-mode-buttons {
        height: auto;
        width: 100vw;
    }

    #newsletter-outerDiv {
        height: auto;
    }
}

/* Extra large (<1400px) */
@media (max-width: 1399.98px) {
    #newsletter-outerDiv {
        height: auto;
    }
}
